.header
  link(rel="stylesheet", href='/stylesheets/header.css')
  div 我的日记
  include search
  a(href='/message')
    div.message 消息
  a(href='/history')
    div.history 历史
  div.loginAndRegister
    .login 登录
    .register 注册
  div.my 
    .userInfo 我的
    .logout 退出